body {
    background-color: #161923;
}

@font-face {
    font-family: 'Quicksand';
    src: url(assets/Quicksand-Medium.ttf);
  }

p {
    color: #FFFFFF;
    font-family: 'Quicksand';
}

h4 {
    color: #FFFFFF;
    font-family: 'Quicksand';
}



