:root {
    --col-bg: #161923;
    --col-main-text: #FFFFFF;
}

body {
    background-color: var(--col-bg);
}

@font-face {
    font-family: 'Quicksand';
    src: url(assets/Quicksand-Medium.ttf);
  }

.main {
    color: var(--col-main-text);
    font-family: Quicksand;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20%;
}



